extend ./../../../../../layouts/default

block content
  .container
    .row
      .col
        a.btn.btn-link.mt-2(href="/gwo/settings/reasons")
          i.fa.fa-arrow-left
          | &nbsp;Back to GWO Reasons

    .row.text-center
      h1 Add GWO Reason

    .row
      .col-md-6.col-sm-12
        //- form
        form(method="POST" action='/gwo/settings/reasons')
          .form-group
            label(for="name") Name
            input.form-control(type="text" name="name")

          button.btn.btn-primary(type="submit") Save
