extends ./../../../layouts/default

include ./../../../shared/page_components

block content
  .container
    +render_back_to_link('Home Page', '/portal')

    .row.my-2
      .col-12
        h1 OEE
    .row
      .col-md-6
        .card
          .card-body
            .card-title
              h4 Machine
            .card-text
              a.btn.btn-link.my-1(href="/oee/dashboard")
                i.fa.fa-tachometer
                | &nbsp;
                | Dashboard
              br
              a.btn.btn-link.my-1(href="/oee/details")
                i.fa.fa-list
                | &nbsp;
                | Detail
              br
              a.btn.btn-link.my-1(href="/oee/daily-time-inputs")
                i.fa.fa-calendar
                | &nbsp;
                | Daily Time Inputs
              br
              a.btn.btn-link.my-1(href="/oee/settings")
                i.fa.fa-cogs
                | &nbsp;
                | Settings
      .col-md-6
        .card
          .card-body
            .card-title
              h4 Machine Group
            .card-text
              a.btn.btn-link.my-1(href="/oee/machine-groups/dashboard")
                i.fa.fa-tachometer
                | &nbsp;
                | Dashboard
              //- br
              //- a.btn.btn-link.my-1(href="/oee/details")
              //-   i.fa.fa-list
              //-   | &nbsp;
              //-   | Detail
