DATABASE_URL=postgres://postgres@localhost:5432/hmsl_iot
DB_USER=postgres
DB_NAME=hmsl_iot_development
DB_PASSWORD=
APP_PORT_NUMBER=8080

SOCKET_IO_HOST=http://localhost:8080

CATCHER_PORT_NUMBER=8000
CATCHER_USERNAME=root
CATCHER_PASSWORD=00000000
NODE_USERNAME=root
NODE_PASSWORD=00000000

SALT_ROUND=10
APP_SECRET=H8$Sbpfr97NEJC&K4E797Sns@rwBs@UH=4zVeWFcgbWfNh!qBqU_4#VPR3FBnTJh
