extends ./../../../../layouts/default

block content
  .container
    .row
      .col
        a.btn.btn-link.my-2(href="/settings/users")
          i.fa.fa-arrow-left(aria-hidden="true")
          | &nbsp;
          | Back to Users
    .row.mt-5
      .col
        h1
          i.fa.fa-user(aria-hidden="true")
          | &nbsp;Add New User
    .row
      .col
        form#form(action=`/settings/users` method="POST")
          .form-group.row
            .col-md-4
              label(for="username") Username
            .col-md-8
              input.form-control(type="text" name="username" required="true" value=user.username)
          .form-group.row
            .col-md-4
              label(for="name") Name
            .col-md-8
              input.form-control(type="text" name="name" required="true" value=user.name)
          .form-group.row
            .col-md-4
              label(for="employee_id") Employee ID
            .col-md-8
              input.form-control(type="text" name="employee_id" required="true" value=user.employee_id)
          .form-group.row
            .col-md-4
              label(for="password") Password
            .col-md-8
              input.form-control(type="password" name="password" required="true")
          .form-group.row
            .col-md-4
              label(for="is_admin") Is Admin?
            .col-md-8
              input.form-control(type="checkbox" name="is_admin" checked=user.is_admin)

          button.btn.btn-primary(type="submit") Update
