extends ./../../../../../layouts/default

include ./../../../../../shared/page_components

block header_content
  script(src='/assets/datatables.net/js/jquery.dataTables.min.js')
  script(src='/assets/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
  link(rel='stylesheet' href='/assets/datatables.net-bs4/css/dataTables.bootstrap4.min.css')

block content
  .container
    +render_back_to_link('Solder Pastes', '/ps/solder-pastes')

    .row.my-2
      .col-12
        h1 Reports
    .row
      .col-md-4
        label(for="dateRange") Date Range
      .col-md-8
        input.my-1.form-control#dateRange(type="text", name="dateRange", placeholder="")
    .row.my-3
      .col
        h3 Materials
        div(height="400px")
        canvas#chartMaterial
        table.table#tableMaterial
          thead
            tr
              th Date
              th Material Number
              th Weight (KG)
    .row.my-3
      .col
        h3 Employees
        canvas#chartEmployee
        table.table#tableEmployee
          thead
            tr
              th Date
              th Employee Name
              th Weight (KG)
  include ./../../../../../shared/js-utilities
  script.
    //- daterangepicker
    $('input[name="dateRange"]').daterangepicker({
      autoUpdateInput: true,
      autoApply: true,
      maxDate: new Date(),
      startDate: moment().subtract(1, 'week'),
      locale: {
        format: 'DD/MM/YYYY'
      },
      "maxSpan": {
        "days": 90,
      }
    }, function(start, end, label) {
        refreshPageData()
    })

    //- material
    //- chart
    let ctxMaterial = document.getElementById('chartMaterial').getContext('2d')
    let chartMaterialData = {
      labels: [],
      datasets:[],
    }
    let chartMaterial = new Chart(ctxMaterial, {
      type: 'bar',
      data: chartMaterialData,
      options: {
          responsive: true,
          legend: {
            position: 'bottom',
          },
          scales: {
            xAxes: [{
              display: true,
              ticks: {
                min: 0,
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true,
              }
            }]
          }
      }
    })
    //- table
    let tableMaterial = $('#tableMaterial').DataTable({
      searching: false,
      pageLength: 500,
      lengthChange: false,
      paging: false,
      columns: [
        {
          data: 'date',
          defaultContent: '',
        },
        {
          data: 'material_number',
          defaultContent: '',
        },
        {
          data: 'weight',
          defaultContent: '0',
        },
      ],
    })

    //- employee
    //- chart
    let ctxEmployee = document.getElementById('chartEmployee').getContext('2d')
    let chartEmployeeData = {
      labels: [],
      datasets:[],
    }
    let chartEmployee = new Chart(ctxEmployee, {
      type: 'bar',
      data: chartEmployeeData,
      options: {
          responsive: true,
          legend: {
            position: 'bottom',
          },
          scales: {
            xAxes: [{
              display: true,
              ticks: {
                min: 0,
              }
            }],
            yAxes: [{
              ticks: {
                min: 0,
                beginAtZero: true,
              }
            }]
          }
      }
    })
    //- table
    let tableEmployee = $('#tableEmployee').DataTable({
      searching: false,
      pageLength: 500,
      lengthChange: false,
      paging: false,
      columns: [
        {
          data: 'date',
          defaultContent: '',
        },
        {
          data: 'name',
          defaultContent: '',
        },
        {
          data: 'weight',
          defaultContent: '0',
        },
      ],
    })

    function getFormData() {
      let dateRangePickerData = $('input[name="dateRange"]').data('daterangepicker')
      let startDate = dateRangePickerData.startDate.format('YYYY-MM-DD')
      let endDate = dateRangePickerData.endDate.format('YYYY-MM-DD')

      let result = {
        startDate,
        endDate,
      }

      return result;
    }

    function updateChart(chart, groupedData) {
      let { dates, labels, data } = groupedData.chart_data
      let datasets = []

      for(let i = 0; i < labels.length; i++) {
        let currentLabel = labels[i]

        let color = getRandomColor()
        datasets.push({
          type: 'bar',
          label: currentLabel,
          backgroundColor: color,
          borderColor: color,
          data: data[currentLabel]
        })
      }
      chart.data.labels = dates
      chart.data.datasets = datasets

      chart.update()
    }

    function updateTable(table, groupedData) {
      let { raw_data } = groupedData

      table.clear()
      table.rows.add(raw_data)
      table.draw()

    }

    function refreshPageData() {
      let data = getFormData()
      $.ajax({
        url: '/ps/solder-pastes/reports/data',
        data: data,
        type: 'POST',
        success: function (response) {
          let json = response
          let { materials, employees } = json.data
          updateChart(chartMaterial, materials)
          updateTable(tableMaterial, materials)
          updateChart(chartEmployee, employees)
          updateTable(tableEmployee, employees)
        },
        error: function (response) {
        },
      });
    }

    refreshPageData()
