extends ./../../../../../layouts/default

include ./../../../../../shared/page_components

block content
  .container
    +render_back_to_link('Solder Pastes', '/ps/solder-pastes')

    .row.my-2
      .col-12
        h1 Reports
