extends ./../../../../layouts/default

include ./../../../../shared/page_components

block content
  .container
    +render_back_to_link('Production Systems', '/ps')

    .row.my-2
      .col-12
        h1 Solder Pastes

    .card.my-4
      .card-body
        .row
          .col
            img.img-fluid(src="/public/images/production-systems/solder-pastes.jpeg")
          .col
            .row
              .col-12.my-2
                a.btn.btn-primary.btn-block(href="/ps/solder-pastes/bag-scanning") Bag Scanning
              .col-12.my-2
                a.btn.btn-primary.btn-block(href="/ps/solder-pastes/records") Records
              .col-12.my-2
                a.btn.btn-primary.btn-block(href="/ps/solder-pastes/reports") Reports
