extend ./../../../../../layouts/default

block content
  .container
    .row
      .col
        a.btn.btn-link.mt-2(href="/gwo/settings/spare-parts")
          i.fa.fa-arrow-left
          | &nbsp;Back to GWO Spare Parts

    .row.text-center
      h1 Add GWO Spare Part

    .row
      .col-md-6.col-sm-12
        //- form
        form(method="POST" action='/gwo/settings/spare-parts')
          .form-group
            label(for="sp") SP
            input.form-control(type="text" name="sp")
          .form-group
            label(for="spc") SPC
            input.form-control(type="text" name="spc")
          .form-group
            label(for="item") Item
            input.form-control(type="text" name="item")
          .form-group
            label(for="area") Area
            input.form-control(type="text" name="area")

          .form-group
            label(for="minimum_quantity") Minimum Quantity
            input.form-control(type="number" name="minimum_quantity")

          button.btn.btn-primary(type="submit") Save
