extends ./../../../../layouts/default
include ./../../../../shared/mixins

block content
  .container
    .row
      .col
        a.btn.btn-link.my-2(href=`/operators`)
          i.fa.fa-arrow-left
          | &nbsp;Back to Home Page
    .row
      .col
        h3 Please select machine
        form#form(action="/operators/po-end/step-2" method="POST")
          .form-group.row
            .col-md-4
              label(for="po_number") PO Number
            .col-md-8
              input.form-control(type="text" name="po_number" required="true")

          button.btn.btn-primary(type="submit") Next
