extends ./../../../../../layouts/default
include ./../../../../../shared/mixins

block content
  .container
    .row
      .col
        a.btn.btn-link.my-2(href=`/operators/po-inputs/step-1`)
          i.fa.fa-arrow-left
          | &nbsp;Back to PO Inputs Page
    .row
      .col
        h1 Add new PO Records
    .row
      .col
        h3 Please insert PO Number
        form#form(action="/operators/po-inputs/po-records" method="POST")
          .form-group.row
            .col-md-4
              label(for="po_number") PO Number
            .col-md-8
              input.form-control(type="text" name="po_number" required="true")
          .form-group.row
            .col-md-4
              label(for="target_quantity") Target Quantity
            .col-md-8
              input.form-control(type="number" name="target_quantity" required="true")
          .form-group.row
            .col-md-4
              label(for="material_number") Material Number
            .col-md-8
              input.form-control(type="text" name="material_number" required="true")
          .form-group.row
            .col-md-4
              label(for="target_completion_date") Target Completion Date
            .col-md-8
              input.form-control(type="date" name="target_completion_date" required="true")
          button.btn.btn-primary(type="submit") Save
