extends ./../../../layouts/default

block content
  .container
    .row.my-3
      .col.text-center
        p= `Welcome to ` + appSettings.getSiteFullName() + ` Portal`

    if signedIn && isAdmin
      .row.mt-3
        .col.text-right
          a(href="/settings")
            i.fa.fa-cog(aria-hidden="true")
            | &nbsp;Settings

    .card.my-4
      .card-body
        .row
          .col-md-4.col-sm-12.my-3
            a.btn.btn-primary.btn-block(href="/nodes") Nodes Page
          .col-md-4.col-sm-12.my-3
            a.btn.btn-primary.btn-block(href="/po-records") PO Records
          .col-md-4.col-sm-12.my-3
            a.btn.btn-primary.btn-block(href="/oee") OEE
        .row
          .col-md-4.col-sm-12.my-3
            a.btn.btn-primary.btn-block(href="/gwo") GWO
          // if appSettings.isAM()
          //   .col-md-4.col-sm-12.my-3
          //     a.btn.btn-primary.btn-block(href="/extrusion-cycles") Extrusion Cycles
          .col-md-4.col-sm-12.my-3
            a.btn.btn-primary.btn-block(href="/mean-times") MTBF / MTTR
          .col-md-4.col-sm-12.my-3
            a.btn.btn-primary.btn-block(href="/operators") Operator's portal
