extends ./../../../layouts/default

block content
  .container
    .row.my-3
      .col.text-center
        p= `Welcome to ${SITE_NAME} Portal`

    .card.my-4
      .card-body
        .row.my-4
          .col-4
            a.btn.btn-primary.btn-block(href="/nodes") Nodes Page
          .col-4
            a.btn.btn-primary.btn-block(href="/po-records") PO Records
          .col-4
            a.btn.btn-primary.btn-block(href="/oee") OEE
        .row.my-4
          .col-4
            a.btn.btn-primary.btn-block(href="/gwo") GWO
