extends ./../../../layouts/default

block content
  .container
    .row.my-3
      .col.text-center
        p Welcome to HSML IOT Portal

    .row.mb-5
      .col-4
        a.btn.btn-primary.btn-block(href="/nodes") Nodes Page
      .col-4
        a.btn.btn-primary.btn-block(href="/po-outputs") PO Output
      .col-4
        a.btn.btn-primary.btn-block(href="/oee") OEE
