@import "node_modules/chart.js/dist/Chart.min";

@mixin status-style-unknown {
  background-color: #212121;
    color: white;
}
@mixin status-style-error {
  background-color: #9C27B0;
  color: white;
}
@mixin status-style-running {
  background-color: #4CAF50;
  color: white;
}
@mixin status-style-stopped {
  background-color: #EF5350;
  color: white;
}

.node-color-unknown {
  @include status-style-unknown
}

.node-color-error {
  @include status-style-error
}

.node-color-running {
  @include status-style-running
}

.node-color-stopped {
  @include status-style-stopped
}

.nodes-map {
  .node-item {
    padding: 1em;
    max-width: 8em;
    margin: 2px;
    border: solid 1px;

    &[data-status="UNKNOWN"] {
      @include status-style-unknown
    }

    &[data-status="ERROR"] {
      @include status-style-error
    }

    &[data-status="RUNNING"] {
      @include status-style-running
    }

    &[data-status="STOPPED"] {
      @include status-style-stopped
    }
  }
}

// select2
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single {
  padding: .375rem .375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: calc(2.25rem + 2px);

  .select2-selection__arrow {
    top: 6px;
  }
}

.select2-results__option:hover {
  background-color: #74b5fa;
}

.select2-search--dropdown .select2-search__field {
  border-radius: 5px;
}
