script.
  Vue.component('error-messages-box', {
    template: '<span class="text-danger">{{error}}<br /></span>',
    props: ['error'],
    //- data() {
    //-   return {
    //-     errors: [123],
    //-   }
    //- },
    //- mounted: function() {
    //-   this.errors = this.propErrors
    //- }
  })
